.a-type{
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  font-size: 2vw;
}

.activity-cont{
  border: 2px solid pink;
.activity-img{
  width: 10vw;
  height: 10vh;
  border: 2px solid red;
  background-size: cover;
  margin: 10px;
}
}