.calender {
  margin: 0 3vh;
  border: 2px solid black;
  position: relative;
}

.calender-day {
  width: 9vw;
  height: 10vh;
  border: 2px solid red;
}

.c-modal {

}

.event-form{
  padding: 1vh 5vw;
  flex-direction: column;
}