
@import 'main.scss';

.l-list{
  @extend .scroll, .absolute;
  width: 25vw;
  height: 97vh;
  padding: 10px;
  background-color: rgba(28, 145, 141, 0.3);

    h3 {
      @extend .right, .absolute;
      margin: -10px 20px;
    }

  .l-list-item{
    @extend .flex;
    * { margin: 1px; }
    padding: 30px 10px;
    border-bottom: 1px solid rgb(41, 41, 41);

    .l-list-icon {
      width: 3vw;
    }
  }

  .l-select{
    margin: 0 -10px;
    padding:4vh 15px;
    background: rgba(254, 113, 113, 0.6);
  }
}

.map {
  @extend .right;
  max-width: 57vw;
  max-height: 100vh;
}

.l-arrow{
  @extend .right, .absolute;
  width: 1vw;
  height: 1vw;
  padding: 5vh 1.5vh;

}