*{
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.border {
  border: 2px solid red;
}

#root {
  background-color: #b0dfdd;
}

a {
  text-decoration: none;
  color: black;
}

.fw {
  width: 100vw;
}

.fh {
  height: 100vh;
}

.fg {
  flex-grow: 1;
}

.pad {
  padding: 1vw;
}

.sw {
  width: 100%;
}

.sh {
  height: 100%;
}

.display-none {
  display: none;
}

.flex{
  display:flex;
}

.container {
  @extend .fh, .center;
  width: 84vw;
}

.full{
  width: 100%;
  height:100%;
}

.main {
  @extend .fg, .fh;
  background-image: url('./assets/bg-1.jpg');
  background-position: left;
  background-size: cover;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


.italic {
  font-style: italic ;
}

.pointer {
  cursor: pointer;
}

.scroll {
  overflow: hidden;
  &:hover {
  top:0;
  overflow-y: scroll;
  overflow-y:auto;
}
}

.top {
  position: absolute;
  top: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.n-line {
  border:none;
  }
  
.right {
position:absolute;
right: 0;
}

//-------

.swipeview{
  @extend .relative, .center, .fg, .fh;
  z-index: 4;
}

.modal{
  @extend .center, .full, .absolute;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);

  .m-pop {
    background-color: white;
    border-radius: 10px;
    padding: 1vw;
    z-index: 6;
    @extend .center;
  }
}

.button { 
  outline: none;
  margin: 2px;
  background: rgb(40, 40, 40);
  color: white;
}

.cover {
  background-size: cover;
  background-position: center;
}

.shake-text {
  margin: 0.5vh;
  font-size: 15px;
  color: red;
  text-align: center;
  animation: .10s shake alternate
}

.section{
padding:2vh;
}


.title{
  margin: 2px 0 10px 0;
  text-align: center;
}

@keyframes shake{ 
  0%{ transform: translateX(0)} 
  25%{ transform: translateX(25px)} 
  50%{ transform: translateX(-25px)} 
  100%{ transform: translateX(0px)} 
} 

.loader-text{
  font-style: italic;
  color: #f20cd7cc;
  font-size: 20px;
}

.loader-access {
  @extend .bottom, .right;
  color: black;
  margin: 20px;
  font-size: 10px;
}

.settings {
  @extend .center;
  padding: 2vw;
  background: rgba(40, 40, 40, 0.3);
  border-radius: 10px;

  .s-img-cont{
    width: 15vw;  
    height: 15vw;
    border-radius: 50%;
  }

  .s-img{
    @extend .cover;
    width: 100%;
    height:100%;
    border-radius: 50%;
  }
  .s-input{
    width: 30vw;
    height: 3vh;
    border-radius: 10px;
  }

  .label{
    font-size: 2em;
  }
  .s-field{
    margin: 2px;
  }
}

  .img-input {
    width: 15vw;
    border: 1px solid white;
    padding: 1vw;
    margin: 1vw;
  }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(255,255,255 ,1);
}

::-webkit-scrollbar {
	width: 5px;
	background-color:transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
