@import 'main.scss';

//matches 
.swipe-matches {
  @extend .center;
  width: 7vw;
  color: #99d7d1;
  margin-left: -20px;
  padding: 20px 0 0 20px;
  justify-content: flex-start;
  background-color: rgba(15, 16, 16,0.75);

  .swipe-match-cont {
    max-width: 4vw;
    margin: 10px;
    font-size: 10px;
    text-align: center;
    
  .swipe-match-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-size: contain;
      }
  }
  .matches-footer {
    position: absolute;
    bottom:0;
    margin: 10px;
  .all-icon{
  height:1.5vw;
    margin: 5px;
    mix-blend-mode:color-dodge;
  }
}
}

//swipe
.swipeview{
  @extend .flex-grow;
  @extend .relative;
  @extend .center;
  z-index: 30;
}

.swipe-layer1 {
  background-color: rgba(255, 255, 255, 0.6);
  transform: rotate(4deg);
  z-index:-1;
  margin-bottom: 2vh;
  .swipe-card{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    padding:2vh;
    transform: rotate(-4deg);
    .swipe-img{
        width:30vw;
        height: 30vw;
        background-size: cover;
        background-position: center;
    }
  }
}

.s-buttons {
  margin-top: 2vh;

  .s-button {
    border-radius: 60%;
    margin: 0 10px;
  }

  .s-dir {
  width: 6vw;
  }
  .s-opt{
  width: 4vw;
  margin-bottom: 2vw;
  }
}

// results
.match-cont {
  overflow: scroll;
  top:0;
  height: 89vh;
  align-content: flex-start;
  
.match-item {
  margin: 5px;
  padding: 10px 5px;
  background-color: rgba(3, 47, 57, 0.4);
  color:white;

  h1{
    font-size: 1vw;
  }
  .match-img{
    max-width:100%;
    max-height:100%;
  }
}
}

.food-match-item {
  width: 14vw;
  height: 25vh;
}
.movies-match-item {
  width: 14vw;
}

//details 

.details {
  background-color: rgba(255, 255, 255, 0.9);


  .details-bg{
    height: 15vw;
    opacity: 0.5;
    background-position: center;
  }

  .d-m-img{ 
  height: 70vh;
  z-index: 1;
  margin:3vw;
  }
  .d-m-text{
    height: 60vh;
    width: 30vw;
    z-index: 1;
  }
}

.detail-buttons {
  margin: 5vh 0 ;
  * { 
    margin:  0 2px;
    background: rgb(40, 40, 40);
    color: white;
  }
}

//swipeMatch

.match-modal {
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
  color: white;
  
  .match-img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-size: contain;
  }

  .match-p-img{
    width: 5vw;
    height: 5vw;
  }
}

//matchSearch 
.match-search {
position: absolute;
right:0;
margin:10px;
z-index: 1000;
}

//listView 
.list-cont{
  width: 83vw;
  height: 100vh
}

.list-text{
  width: 70vw;
  margin: 1vw;
}

.list-field{
margin: 1vw;
padding: 1vh;
border-bottom: 1px solid rgb(240, 101, 189);
}

.list-button {
font-size: 2em;
color: red;
margin-right: 10px;
}

.m-list-img{
width: 8vw;
}

.list-img-cont{
  width: 10vw;
  height: 10vw;
.list-img {
  max-width:100%;
  max-height:100%;
}
}

//activities {
  .a-list {
  width: 80vw;
  }

  .a-type{
    @extend .o-border;
    font-size: 4vh;
    color: rgb(4, 4, 4);
    & :hover{
      text-decoration: underline;
    }
  }