.menu-cont {
  width: 30vw;
  // border: 2px solid red;
}
.menu{

  top: 0px;
  position: fixed;

.user-img{
  width: 8vw;
  }
  
}

.m-connections{
border: 2px solid red;
.c-img {
    width: 3vw;
    }
  }
