//menu.js
.menu-cont {
  width: 20vw;
  z-index: 1000;

h1{
  font-size: 1.5em;
  }

.menu{
  width: 20vw;
  top: 0px;
  position: fixed;
  }
}

// menuProfile.js
.m-profile {
  padding: 2vh 0 ;

img{
  width: 5vw;
  border-radius: 50%;
  padding:0 10px;
}
}

// menuUser.js
.m-user {
  .con-img {
    width: 3vw;
  }
}


// menuUser.js
.m-con {
  
}


