
@import 'main.scss';

.m-match-cont {
  @extend .relative;
  // background-image: url('./assets/night-bg.jpg');
  background-size:cover;
  // color: white;
  border: 1px solid rgb(67, 38, 155);
.m-movies {
  @extend .fh;
  @extend .wrap;
  overflow-y: scroll;
  height: 90vh;

  .match-cont{
  @extend .wrap;
  @extend .flex-apart;
    border: 1px solid rgb(107, 175, 187);
    background-color: rgba(0,0,0,0.5);
    margin: 1vw;
    width: 12vw;
    padding:1vh;
    font-size: 8px;
    img {
      height:35vh;
    }
  }
  
}

}

.m-wrapper {
z-index: 200000;
  border: 1px solid green;
}

.m-card-cont {
  background-color: rgba(225,225,225,0.5);
  padding: 10px;
  max-height: 70vh;
  max-width: 25vw;
  border: 2px solid red;

  h1{
    max-width: 25vw;
    font-size: 2em;
  }
}

.m-poster {
  height: 60vh;
}

.swipe-cont {
  width: 79.5%;
  border: 2px solid red;
}

.m-detail-cont {
  border: 2px solid red;
  max-height: 100vh;
  width: 30vw;
  padding: 0 1vw;
  animation: 0.5s slide-in forwards;
  @keyframes slide-in {
    0%{transform: translate(10vw, 0);}
    100%{ translate: translate(-10,0);}
  }
  img{
    height:20vh;
  }
}


.slide-in {
animation: 0.5s slide-in forwards;
@keyframes slide-in {
  0%{transform: translate(10vw, 0);}
  100%{ translate: translate(-10,0);}
  }
}
