
.m-match-cont {
background-image: url('https://bit.ly/2WmYMCC');
padding: 20px;
background-size: cover;
opacity: 0.9;
color: white;
}

.m-card-cont {
  background-color: rgba(225,225,225,0.5);
  padding: 10px;
  max-height: 70vh;
  max-width: 25vw;

  h1{
    max-width: 25vw;
    font-size: 2em;
  }
}

.m-poster {
  height: 60vh;
}

.swipe-cont {
  width: 79.5%;
  border: 2px solid red;
}

.m-detail-cont {
  border: 2px solid red;
  max-width: 20vw;
  padding: 0 1vw;
  animation: 0.5s slide-in forwards;
  @keyframes slide-in {
    0%{transform: translate(10vw, 0);}
    100%{ translate: translate(-10,0);}
  }
}

.match-cont{
  border: 2px solid red;
  margin: 1vw;
  width: 12vw;
  height: 40vh;
  padding:1vh;
  font-size: 10px;
  img {
    height:35vh;
  }
}
.slide-in {
animation: 0.5s slide-in forwards;
@keyframes slide-in {
  0%{transform: translate(10vw, 0);}
  100%{ translate: translate(-10,0);}
  }
}

.border{
  border:2px solid red;
width: 100%;
}
