@import 'main.scss';

.note{
  @extend .relative, .center;
  width: 16vw;
  height: 15vw;
  margin: 10px;
  padding: 20px;
  font-size: 2vh;
  z-index: 1;
}

.notes-cont{
  @extend .scroll, .relative, .wrap, .center;
  margin: 2vw;
  height: 80vh;

  .n-cont{
    margin: 1vw;
    display: flex;
    align-items: flex-end;
  }
}

.note-date{
  @extend .bottom, .right;
  margin:10px;
}
.n-delete {
  @extend .right, .top;
}

#n-pop {
  width: 40vw;
  height: 40vw;
}

.envelope{
  @extend .absolute;
  background-color:  rgb(167, 64, 64);
  width: 20vw;
  height: 16vh;

  .triangle-up {
  @extend .bottom;
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 14.62vh solid red;
  z-index: 3;
}
  .triangle-up2 {
  position: absolute;
  width: 0;
  height: 0;
  bottom:3px;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 14.62vh solid rgb(143, 26, 26);
  z-index: 3;
}

  .triangle-top{
  position: absolute;
  width: 0;
  height: 0;
  bottom:16vh;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 14.62vh solid rgb(96, 5, 19);
  z-index: 0;
}

  .triangle-left {
  @extend .bottom;
  width: 0;
  height: 3vh;
  right:0;
  z-index: 1;
  border-top: 6.648vh solid transparent;
  border-right: 13.29vh solid rgb(210, 52, 52);
  border-bottom: 6.648vh solid transparent;
  
}

  .triangle-right {
  @extend .bottom;
  width: 0;
  height: 3vh;
  border-top: 6.648vh solid transparent;
  border-left: 13.29vh solid rgb(210, 52, 52);
  z-index: 1;
  border-bottom: 6.648vh solid transparent;
  }
}